.music-card2 {
    background-color: rgba(11, 10, 10, 0.1) !important;
    width: auto;
    height: auto;
    border: 1px;
    border-radius: 5px;
  }
  .card-text {
    color: rgb(255, 255, 255, 0.4);
  }