
  .buttonround{
    border-radius: 39.25rem !important;
  }

#topNav #arrows button:not(#menuButton) {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
  
  #topNav #user {
    font-size: 0.7em;
    font-weight: 500;
    border-radius: 30px;
  }
  
  .topNav-icon{
    background-color: rgba(252, 251, 251, 0.857);
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }

 