.sidebar{
    background-color: #000000;
    height: 100%;
    /* min-width: 100vw; */
    color: white;
    padding: 0 !important;
    
}
.sidebar > .sidebar__container{
    font-weight: 450;
    
}
.sidebar__container :hover {
    color: #fff;
  
    
    font-weight: 700;
    cursor: pointer;
  }
  .sidebar > .sidebarmain_container{
    position: fixed;
}
.icon{
    font-size: 20px;
    color: #fff;
    margin-left: 10px;
    margin-top: 10px;
}
.icon > .bi{
    font-size: 22px;
    color: #fff;
    margin-left: 10px;
    margin-top: 10px;
}