.sidebar{
    background-color: #000000;
    height: 100vh;
    /* min-width: 100vw; */
    color: white;
    padding: 0 !important;
}
.sidebar > .sidebar__container{
    font-weight: 450;
}
.sidebar > .sidebar__container :hover {
    color: #fff;
    background: #666;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
  }