body{
margin: 0;
/* background-color: white !important; */
background: rgb(105, 9, 9);
background: linear-gradient(
  180deg,
  rgba(105, 9, 9, 0.9304096638655462) 9%,
  rgba(0, 0, 0, 1) 37%
);
  
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
